*.a
*.la
*.lo
*.log
*.o
*.trs
*~
.deps
.gdb_history
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.aux
config.h
config.h.in
config.log
config.status
configure
crypt3
debian/*.debhelper.log
debian/*.substvars
debian/files
html
libtool
m4
stamp-h1
test_crypt
